.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110rem;
  height: 50rem;

  text-align: center;
}

.title {
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 800;
}

.subtitle {
  font-size: 3rem;
}
