.card {
  display: flex;
  flex-direction: column;

  cursor: pointer;
  transition: transform 0.2s ease-in;
  will-change: transform;

  &:hover {
    transform: translateY(-5px);
  }
}

.content {
  padding: 0 2rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.info {
  li {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;

    span {
      font-weight: 700;
    }
  }
}
