.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding: 0 0.9rem;
}

.input {
  min-width: 30rem;
  padding: 1.6rem 2rem;

  border-radius: 0.4rem;
  background-color: #f4f2f2;
  box-shadow: 5px 6px 4px 0px rgba(0, 0, 0, 0.3);

  font-size: 1.5rem;
  color: #000;
}

.select {
  padding: 1.6rem 2rem;

  border: none;
  border-radius: 0.4rem;
  background-color: #f4f2f2;
  box-shadow: 5px 6px 4px 0px rgba(0, 0, 0, 0.3);

  font-size: 1.5rem;
  cursor: pointer;
}
