.header {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 3rem;
  padding: 2rem 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: inherit;
}

.lightIcon,
.darkIcon {
  font-size: 5rem;

  cursor: pointer;
  transition: color 0.2s linear;
}

.lightIcon {
  color: #fecc1b;
}

.darkIcon {
  color: #3992ff;
}
