.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  min-width: 100%;
  padding: 4rem 1rem;
}

.link {
  transition: opacity 0.1s ease-in;

  &:hover {
    opacity: 0.7;
  }
}

.title {
  display: inline-block;
  font-size: 4.5rem;

  user-select: none;
}

.globe {
  width: 4rem;
}

.icon {
  width: 6rem;
  height: 6rem;

  cursor: pointer;
}
