.container {
  display: grid;
  grid-template: 1fr;
  justify-items: center;
  margin-top: 8rem;

  span {
    margin-bottom: 3rem;
    font-size: 6rem;
  }
}

.description {
  font-size: 4rem;
  font-weight: 900;
}
