@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

body {
  height: 100%;

  background-color: #e0ffff;

  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 62.5%;
  color: teal;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}
